body {
background: #f8f8ff;
opacity:0.9;
}

.LinksAboutTech
{
	
         margin:50px 20px;
            transition: 0.5s;
}
.LinksAboutTech h2
{
	margin: 0px;
	padding-bottom: 30px;
	padding-top: 25px;
    text-align: center;
font-family: Myriad;
padding-left: 50px;
background: linear-gradient(30deg, black, white 99%);
 -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.LinksAboutTech p
{
font-family: arial;
font-size: 20px;
font-weight: bold;
background:linear-gradient(45deg, #09009f, #00ff95 80%);
            -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   transition: 0.3s;

}

.PhotosAboutGadgets {
    width: 50%;
    display: inline-block;
    text-align: center;
}

.LinksAboutTech img
{
width: 300px;
transition: 0.3s;
border: lightgreen solid 5px;
border-radius: 15px;
box-shadow: 15px 5px gradient(45deg, #09009f, #00ff95 80%); ;

}
.LinksAboutTech img:hover
{
transform: rotateX(45deg);
width: 300px;
border: white solid 5px;
box-shadow: 5px 5px lightgreen;


}

.LinksAboutTech a
{
	text-decoration: none;
	border-radius: 5px;
	transition: 0.3s;
}
.LinksAboutTech a:hover
{
background:linear-gradient(45deg, grey, grey 80%);
            -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.LinksAboutTech p:hover
{
font-family: arial;
font-size: 20px;
transform: translate(30px);
font-weight: bold;
background:linear-gradient(45deg, grey, grey 80%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
opacity: 0.9;
}


#Login {
    position: absolute;
   top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: red;
    padding: 80px;
    font-family: sans-serif;
    color: white;
    border-radius: 20px;
    text-align: center;
    background-color: #146587;
}

#Login div {
  padding: 20px 60px;
  background-color: #cc381b;
  color: white;
  font-size: 24px;
  margin: 20px;
  text-align: center;
  cursor: pointer;

}
#FullDiv {
  display: none;
  background-color: #000000d9;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
 }
