

html body {
	padding: 0px;
	margin: 0px;
}


@font-face
	{
		font-family: niramit;
		src:url(../fonts/niramit.woff2);
	}	

header {
	width: 100%;
}

#top.night {
	background-color: black;
	color: white;
}

#top.night a {
	color: white;
}

#top.night img {
	background-color: transparent;
	border: 2px solid white;
}


.goToTop{
	position: fixed;
	padding: 20px;
	bottom: 40px;
	right: 20px;
	background-color: black;
	border-radius: 30px;
}

#logoContainer.night {
	background-color: #151515;
}

#logoContainer {
	padding: 30px;
	background-color: rgba(228, 226, 226, 0.63);
	vertical-align: middle;
	position: relative;
	border-radius: 0px;
}


.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
   padding: 6px !important;
    margin-left: 0px; 
}

#slideshow {
	width: 80%;
	margin: 50px auto; 
	border:1px solid gray;
	padding: 10px;
	position: relative;
	border-radius: 10px;
	overflow-x: hidden;
}

.slideshow-arrow {
	border-radius: 50px;
	background-color: #0000008c;
	padding: 3px;
	position: absolute;
	width: 30px;
	height: 30px;
	top:50%;
}

.slideshow-title{
	background-color: #000000b3;
	padding: 20px;
	color: white;
	position: absolute;
	bottom: 20px;
	left: 20px;
	border-radius: 20px;
	max-width: 50%;
	display: inline-block;
	font-family: niramit;
}

#slideshow-controls{
	position: absolute;
	bottom: 20px;
	right: 20px;	
}

.slideshow-button {
	height: 15px;
	width: 15px;
	display: inline-block;
	background-color: #8bc34a;
	border: 2px solid white;
	border-radius: 20px;
	margin: 3px;
	cursor: pointer;

}

article.night p{
	color: white;
}

article.night h3 {
	color: #8bc34a;
}

.slideshow-button-current {
	background-color: transparent !important;
}

.time4shcool.night, .time4shcool.night:visited
{
font-family:Modia;
font-weight: bold;
font-size: 50px;
color: lightgray;
position: relative;
-webkit-animation: logoMove 5s infinite;
  animation: logoMove 1s infinite;

}



.article1 {
	width: 21%;
	float: left;
	text-align: center;
	padding: 2%;
	transition: all 0.2s ease-in-out;
}

.article1 h3 {
	font-family: niramit;
	color: #0070c9;
}

.article1 p {
	font-family: niramit;
	color: black;
	font-weight: bold;
}

.article1:hover {
	transform: scale(1.1);
	background-color: rgba(235, 235, 235, 0.63);
}

.article3{
	width: 21%;
	float: left;
	text-align: center;
	padding: 2%;	
}

.article2  {
	width: 21%;
	float: left;
	text-align: center;
	padding: 2%;
	transition: all 0.2s ease-in-out;
}
.article2:hover {
	transform: scale(1.1);
	background-color: rgba(235, 235, 235, 0.63);
}



.article3 p, .article2 p {
	font-family: niramit;
	color: black;
	text-align: left;
	width: 210px;
	margin: 10px auto;
}

#slideshowPhotos img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: none;
	height: 600px;
}

#slideshowPhotos img:first-child{
	display: inline;
}

#slideshowPhotos {
	position: relative;
	height: 600px;
}

