
html body {
	padding: 0px;
	margin: 0px;
	background-color:;
}

@font-face
		{
			font-family: Modia;
			src:url(Modia-NonCommercial.otf);
		}

@font-face
		{
			font-family: Roboto;
			src:url(Roboto-Black.ttf);
		}

@font-face
		{
			font-family: Lemon;
			src:url(LemonMilk.otf);
		}
