.grid-container {
     display:grid;
     grid-template-columns:150px 30% 55%;
     padding: 10px;
     align-items: center;
     max-width: 1200px;
     justify-content: center;
}
 .grid-item {
     padding: 20px;
     font-family: arial;
     color:black;
     font-size: 15px;
     text-align: left;
     margin:0 auto;
}
 .grid-container figcaption {
     text-align: center;
     font-style: italic;
     font-size: 12;
}

 .grid-container figure,section,article {
     margin:0;
}
 #h2transform {
	text-align: center;
	font-family: niramit;
	color: white;
    transform: rotate(-3deg);
    margin: 30px 0px;
}


