.grid-container {
     display:grid;
     grid-template-columns:150px 30% 55%;
     padding: 10px;
     align-items: center;
     max-width: 1200px;
     margin: 0 auto;
     justify-content: center;
}
 .grid-item {
     padding: 20px;
     font-family: arial;
     color:black;
     font-size: 15px;
     text-align: left;
     margin:0 auto;
}
 .grid-container figcaption {
     text-align: center;
     font-style: italic;
     font-size: 12;
}

 .grid-container figure,section,article {
     margin:0;
}
 #h2transform {
	text-align: center;
	font-family: niramit;
	color: white;
    transform: rotate(-3deg);
    margin: 30px 0px;
}
 #multiple-bg {
     height:120px;
     background: url("images/family1.jpg") left center no-repeat, url("images/family2.jpg") right center no-repeat;
     background-size: 100px 100px;
     opacity: 0.5;
     margin:0;
}
 .grid-item video, .grid-item img {
     width: 100%;
}
figcaption {
	color: white;
     font-family: niramit;
     font-size: 14pt;
}

 @font-face {
     font-family: niramit;
     src:url(../fonts/niramit.woff2);
}
 section {
     color: white;
     font-family: niramit;
     font-size: 14pt;
}
